$body-50-width: 50%;
$body-100-width: 100%;
$body-defoult-float: left;

.container-fluid{
  padding: 0 !important;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: $body-100-width;
}
#start-with-us{
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 500px;
  background: url("/src/img/coffee.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  h1{
    color: #f8f9fa;
    padding-top: 15%;
  }
}
#favorite-food{
  @extend #start-with-us;
  background: url("/src/img/food2.jpg");
  background-size: 100% 100%;
  h1{
    color: #000;
  }
}
#calorie-burner{
  @extend #start-with-us;
  background: url("/src/img/lift.jpg");
  background-size: 100% 100%;
}
.diet-plan{
  label{
    margin-right: 5%;
  }
    input{
      width: 40%;
      color: rgba(55, 87, 219, 0.65);
    }
    #sel1{
      width: 100%;
      margin: 5px 5px;
    }
  .time-input{
    width: 15%;
    margin: 5px 5px;
  }
}
.form-group{
    width: 40%;
  }

.btn-bm{
  width: 40%;
  text-align: left;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $body-100-width;
  background-color: #f8f9fa;
  color: #000;
  text-align: left;
  padding: 2%;
}
