$body-50-width: 50%;
$body-100-width: 100%;
$body-defoult-float: left;

.container-fluid{
  padding: 0 !important;
}
.navbar{

}
#start-with-us{
  margin-top: -8px;
  min-height: 500px;
  background: url("/src/img/coffee.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  h1{
    color: #f8f9fa;
    padding-top: 15%;
  }
}
#favorite-food{
  @extend #start-with-us;
  background: url("/src/img/food2.jpg");
  background-size: 100% 100%;
  h1{
    color: #000;
  }
}
#calorie-burner{
  @extend #start-with-us;
  background: url("/src/img/lift.jpg");
  background-size: 100% 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $body-100-width;
  background-color: #f8f9fa;
  color: #000;
  text-align: left;
  padding: 2%;
}

